<?xml version="1.0" encoding="utf-8" ?>
<configuration>

       <connectionStrings>
		   <add name="SomerenDatabase" connectionString="Data Source=den68.mssq27.gear.host15;
         Initial Catalog=pdb1920n573; User=projectdatabases1920nl25; Password=8Y3487~f98Ef"/>
       </connectionStrings>

</configuration>
